[Unit]
Description=Check and set DDNS IPs
Requires=network-online.target
After=network-online.target
OnFailure=status-email-user@%n.service

[Service]
Type=oneshot
ExecStart=/var/lib/cloudflare-ddns/update.sh
